*,
html {
  box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
 color: rgb(98, 108, 114);
  font-size: 14px;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  direction: ltr;
  text-align: left;
  line-height: 26px;
  width: 100%;
  font-weight: 400;
  font-family: 'Nunito Sans', Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  min-height: 100%;
}
